<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <meta-data
        android:name="com.google.firebase.auth.api.FirebaseAuth"
        android:value="@string/default_web_client_id" />
    <meta-data
        android:name="com.google.firebase.auth.RECAPTCHA_SITE_KEY"
        android:value="@string/recaptcha_site_key" />
    <meta-data
        android:name="com.google.firebase.auth.API_KEY"
        android:value="@string/recaptcha_site_key" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MD09_PharmaPoly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.activity.OrderInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.OrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".chatbot"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.view.activity.functional_food" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.view.activity.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".contact_support"
            android:exported="false" />
        <activity
            android:name=".pharmacy_introduction"
            android:exported="false" />
        <activity
            android:name=".payment_card_manager_empty"
            android:exported="false" />
        <activity
            android:name=".payment_card_manager"
            android:exported="false" />
        <activity
            android:name=".iteam_viewholder_card"
            android:exported="false" />
        <activity
            android:name=".iteam_cart"
            android:exported="false" /> <!-- Giữ lại tất cả activity -->
        <activity
            android:name=".welcome_login.Success"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.SignupPassword"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.LoginPassword"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.VerifyPhone"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.ProductDetail"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.ProductDetailAllActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.QuestionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.ProductReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Nav_FunctionalFoodActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Nav_Medical_Equiment"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.ChatbotActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Nav_Personalcare"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Nav_Pharmaceutical_Cosmetics"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Nav_Medicine"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.PhoneNumber"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome_login.DangNhapDangKy"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.Onboarding_Screen_3"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Onboarding_Screen_2"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.Onboarding_Screen_1"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".AddAddressSuccessful"
            android:exported="false" />
        <activity
            android:name=".AddAddress"
            android:exported="false" />
        <activity
            android:name=".PaymentSuccessful"
            android:exported="false" />
        <activity
            android:name=".PayMent"
            android:exported="false" />
        <activity
            android:name=".CartEmpty"
            android:exported="false" />
        <activity
            android:name=".ShoppingCart"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.activity.ProfileUpdate"
            android:exported="true" />
    </application>

</manifest>