<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MD09_PharmaPoly"
        tools:targetApi="31">

        <!-- Giữ lại tất cả activity -->
        <activity
            android:name=".welcome_login.Success"
            android:exported="false" />
        <activity
            android:name=".welcome_login.DangKy"
            android:exported="false" />
        <activity
            android:name=".welcome_login.DangNhap3"
            android:exported="false" />
        <activity
            android:name=".welcome_login.XacThucOTP"
            android:exported="false" />
        <activity
            android:name=".welcome_login.DangNhap1"
            android:exported="false" />
        <activity
            android:name=".welcome_login.DangNhapDangKy"
            android:exported="false" />
        <activity
            android:name=".welcome_login.ManHinh4"
            android:exported="false" />
        <activity
            android:name=".welcome_login.ManHinh3"
            android:exported="false" />
        <activity
            android:name=".welcome_login.ManHinh2"
            android:exported="false" />
        <activity
            android:name=".welcome_login.ManHinh1"
            android:exported="false" />

        <activity
            android:name=".AddAddressSuccessful"
            android:exported="false" />
        <activity
            android:name=".AddAddress"
            android:exported="false" />
        <activity
            android:name=".PaymentSuccessful"
            android:exported="false" />
        <activity
            android:name=".PayMent"
            android:exported="false" />
        <activity
            android:name=".CartEmpty"
            android:exported="false" />
        <activity
            android:name=".ShoppingCart"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
